.fastnav li a {
    display: inline-block;
    border-bottom: 2px dotted #234358;
    text-decoration: none;
}
ul.breadcrumbs {
  padding: 0;
}
.breadcrumbs li {
    display: inline-block;
}
.breadcrumbs li:after {
  content: "/";
  color:#244255;
  margin: 0 5px;
}
.breadcrumbs li:last-child:after {
  display: none;
}
#map {
  width: 100%;
  height: 400px;
}

.navbar-brand {
  letter-spacing: -1.8px;
}
.navbar-brand img {
  margin-right: 5px;
}
h1 {
  letter-spacing: -1.9px;
}
